<a href="https://colab.research.google.com/github/utkarsh599/Recomendation-sysy/blob/Abhijeet/LearningSpark3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
GB_category_id=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/GB_category_id.json")
GBcomments=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/GBcomments.csv",error_bad_lines=False)
GBvideos=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/GBvideos.csv",error_bad_lines=False)
US_category=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/US_category_id.json")
UScomments=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/UScomments.csv",error_bad_lines=False)
USvideos=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/USvideos.csv",error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'
b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [0]:
Comments=pd.concat([GBcomments,UScomments],ignore_index=True)
Videos=pd.concat([GBvideos,USvideos],ignore_index=True)

In [0]:
Comments.comment_text=Comments.comment_text.astype(str)
Comments.likes=Comments.likes.astype(str)
Comments.replies=Comments.replies.astype(str)

In [0]:
Comments['comment_text']=Comments['comment_text'].apply(lambda x: x.lower())

In [0]:
Comments.head(5)

      video_id                                       comment_text likes replies
0  jt2OHQh0HoQ  it's more accurate to call it the m+ (1000) be...     0       0
1  jt2OHQh0HoQ              to be there with a samsung phone\nðŸ˜‚ðŸ˜‚ðŸ˜‚     1       0
2  jt2OHQh0HoQ  thank gosh, a place i can watch it without hav...     0       0
3  jt2OHQh0HoQ  what happened to the home button on the iphone...     0       0
4  jt2OHQh0HoQ  power is the disease.Â  care is the cure.Â  keep...     0       0

In [0]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

conf = SparkConf().setAppName("Pyspark basics")
sc = SparkContext(conf=conf)
sqlCtx = SQLContext(sc)

sdf=sqlCtx.createDataFrame(Comments) 

sdf.show(5)

+-----------+--------------------+-----+-------+
|   video_id|        comment_text|likes|replies|
+-----------+--------------------+-----+-------+
|jt2OHQh0HoQ|it's more accurat...|    0|      0|
|jt2OHQh0HoQ|to be there with ...|    1|      0|
|jt2OHQh0HoQ|thank gosh, a pla...|    0|      0|
|jt2OHQh0HoQ|what happened to ...|    0|      0|
|jt2OHQh0HoQ|power is the dise...|    0|      0|
+-----------+--------------------+-----+-------+
only showing top 5 rows

In [0]:
sdf=sqlCtx.createDataFrame(Comments) 

sdf.show(5)

+-----------+--------------------+-----+-------+
|   video_id|        comment_text|likes|replies|
+-----------+--------------------+-----+-------+
|jt2OHQh0HoQ|it's more accurat...|    0|      0|
|jt2OHQh0HoQ|to be there with ...|    1|      0|
|jt2OHQh0HoQ|thank gosh, a pla...|    0|      0|
|jt2OHQh0HoQ|what happened to ...|    0|      0|
|jt2OHQh0HoQ|power is the dise...|    0|      0|
+-----------+--------------------+-----+-------+
only showing top 5 rows

In [0]:
type(sdf)

pyspark.sql.dataframe.DataFrame

In [0]:
#from pyspark.sql import SparkSession

In [0]:
#spark = SparkSession.builder.master("local").appName("Tokenization").config(conf=SparkConf()).getOrCreate()

In [0]:
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.ml import Pipeline

In [0]:
tokenizer = Tokenizer(inputCol="comment_text", outputCol="Tokenized_comments")

In [0]:
sdf_1=tokenizer.transform(sdf)

In [0]:
sdf_1.show()

Row(video_id='jt2OHQh0HoQ', comment_text="it's more accurate to call it the m+ (1000) because the price is closer than calling it the x (10).", likes='0', replies='0', Tokenized_comments=["it's", 'more', 'accurate', 'to', 'call', 'it', 'the', 'm+', '(1000)', 'because', 'the', 'price', 'is', 'closer', 'than', 'calling', 'it', 'the', 'x', '(10).'])

In [0]:

# hashingTF = HashingTF(inputCol=tokenizer.getOutputCol(), outputCol="features")
# pipeline = Pipeline(stages=[tokenizer, hashingTF])

In [0]:
# model = pipeline.fit(Comments)

In [0]:
#sdf.show(5)

+-----------+--------------------+-----+-------+
|   video_id|        comment_text|likes|replies|
+-----------+--------------------+-----+-------+
|jt2OHQh0HoQ|it's more accurat...|    0|      0|
|jt2OHQh0HoQ|to be there with ...|    1|      0|
|jt2OHQh0HoQ|thank gosh, a pla...|    0|      0|
|jt2OHQh0HoQ|what happened to ...|    0|      0|
|jt2OHQh0HoQ|power is the dise...|    0|      0|
+-----------+--------------------+-----+-------+
only showing top 5 rows