<a href="https://colab.research.google.com/github/utkarsh599/Recomendation-sysy/blob/Abhijeet/Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import spark
import nltk
import spacy
import pandas as pd
import sklearn

In [5]:
from google.colab import files
Uploaded=files.upload()

Saving GB_category_id.json to GB_category_id (1).json
Saving GBcomments.csv to GBcomments (1).csv
Saving GBvideos.csv to GBvideos.csv
Saving US_category_id.json to US_category_id.json
Saving UScomments.csv to UScomments.csv
Saving USvideos.csv to USvideos.csv

In [6]:
import io
GB_category_id=pd.read_json(io.BytesIO(Uploaded["GB_category_id.json"]))
GBcomments=pd.read_csv(io.BytesIO(Uploaded["GBcomments.csv"]),error_bad_lines=False)
GBvideos=pd.read_csv(io.BytesIO(Uploaded["GBvideos.csv"]),error_bad_lines=False)
US_category_id=pd.read_json(io.BytesIO(Uploaded["US_category_id.json"]))
UScomments=pd.read_csv(io.BytesIO(Uploaded["UScomments.csv"]),error_bad_lines=False)
USvideos=pd.read_csv(io.BytesIO(Uploaded["USvideos.csv"]),error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'
b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [7]:
GBcomments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...       0
1  jt2OHQh0HoQ  ...       0
2  jt2OHQh0HoQ  ...       0
3  jt2OHQh0HoQ  ...       0
4  jt2OHQh0HoQ  ...       0

[5 rows x 4 columns]

In [8]:
print(GBcomments.shape)
print(UScomments.shape)
print(GBvideos.shape)
print(USvideos.shape)

(718452, 4)
(691400, 4)
(7993, 11)
(7992, 11)

In [0]:
Comments=pd.concat([GBcomments,UScomments],ignore_index=True)
Videos=pd.concat([GBvideos,USvideos],ignore_index=True)

In [0]:
Comments.dropna(inplace=True)
Videos.dropna(inplace=True)

In [11]:
print(Comments.shape)
print(Videos.shape)

(1409799, 4)
(15985, 11)

In [0]:
Comments.comment_text=Comments.comment_text.astype(str)

In [13]:
Comments.head(10)

      video_id                                       comment_text likes replies
0  jt2OHQh0HoQ  It's more accurate to call it the M+ (1000) be...     0       0
1  jt2OHQh0HoQ              To be there with a samsung phone\nðŸ˜‚ðŸ˜‚ðŸ˜‚     1       0
2  jt2OHQh0HoQ  Thank gosh, a place I can watch it without hav...     0       0
3  jt2OHQh0HoQ  What happened to the home button on the iPhone...     0       0
4  jt2OHQh0HoQ  Power is the disease.Â  Care is the cure.Â  Keep...     0       0
5  jt2OHQh0HoQ  Keep calm and buy iphone 8 Keep calm and buy i...     0       0
6  jt2OHQh0HoQ      i am a big fan of youtube and u !!!!!!!!!!!!!     0       0
7  jt2OHQh0HoQ  You will never find Losers who line up and pay...     0       0
8  jt2OHQh0HoQ  *APPLE JUST COMMENTED ON MY LAST VIDEO* I'm cr...     0       0
9  jt2OHQh0HoQ  I'm only here to see Emma, I love her so much!...     0       0

In [14]:
Videos.head(10)

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09
5  zZ2CLmvqfXg  ...  13.09
6  w8fAellnPns  ...  13.09
7  LcZ2AuvxXNA  ...  13.09
8  lamseWekh8Y  ...  13.09
9  QBGaO89cBMI  ...  13.09

[10 rows x 11 columns]

In [0]:
Comments['comment_text']=Comments['comment_text'].apply(lambda x: x.lower())

In [0]:
sampled_comments=Comments.sample(30000)

In [17]:
sampled_comments.head()

           video_id  ... replies
954497  05v4nfUmBYI  ...       0
835004  fcubmjoGH7I  ...       0
330471  MFoODeZfSD0  ...       0
946552  VFODNI4DBDI  ...       0
333968  -f-gdt9p-k0  ...       0

[5 rows x 4 columns]

# Tokenization using Spacy

## [Click here for Documentation of spacymoji](https://github.com/ines/spacymoji)

In [0]:
# pip install spacymoji

In [0]:
# from spacymoji import Emoji
# emoji = Emoji(nlp)

In [20]:
nlp = spacy.load("en_core_web_sm")
#nlp.add_pipe(emoji, first=True)
c=0
tokenized_sents=[]
for i in sampled_comments['comment_text']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
#sampled_comments.drop('tokenized_comments',inplace=True,axis=1)

In [0]:
sampled_comments['tokenized_comments']=tokenized_sents

In [23]:
sampled_comments.head()

           video_id  ...               tokenized_comments
954497  05v4nfUmBYI  ...  [fuck, happen, wtm, nice, miss]
835004  fcubmjoGH7I  ...             [yeezys, real, fake]
330471  MFoODeZfSD0  ...                     [let, shirt]
946552  VFODNI4DBDI  ...                       [trending]
333968  -f-gdt9p-k0  ...          [not, fake, cheer, guy]

[5 rows x 5 columns]

In [0]:
tokenized_sents=[]
for i in sampled_comments['tokenized_comments']:
  tokenized_sents.append(" ".join(i))

In [25]:
sampled_comments.drop('tokenized_comments',inplace=True,axis=1)
sampled_comments['tokenized_comments']=tokenized_sents
sampled_comments.head()

           video_id  ...         tokenized_comments
954497  05v4nfUmBYI  ...  fuck happen wtm nice miss
835004  fcubmjoGH7I  ...           yeezys real fake
330471  MFoODeZfSD0  ...                  let shirt
946552  VFODNI4DBDI  ...                   trending
333968  -f-gdt9p-k0  ...         not fake cheer guy

[5 rows x 5 columns]

In [26]:
# sampled_df.drop(['likes','replies'],inplace=True,axis=1)
 sampled_comments.head()

           video_id  ...         tokenized_comments
954497  05v4nfUmBYI  ...  fuck happen wtm nice miss
835004  fcubmjoGH7I  ...           yeezys real fake
330471  MFoODeZfSD0  ...                  let shirt
946552  VFODNI4DBDI  ...                   trending
333968  -f-gdt9p-k0  ...         not fake cheer guy

[5 rows x 5 columns]

In [27]:
#pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [0]:
#import nltk

In [0]:
#nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [0]:
# words = set(nltk.corpus.words.words())

# cleaned_sents=[]

# for sent in sampled_comments['tokenized_comments']:
#   cleaned_sents.append(" ".join(w for w in nltk.wordpunct_tokenize(sent) \
#          if w.lower() in words or not w.isalpha()))

In [0]:
# sampled_comments.drop('tokenized_comments',inplace=True,axis=1)
# sampled_comments['tokenized_comments']=cleaned_sents
# sampled_comments.head()

           video_id  ...                                 tokenized_comments
682624  EUoe7cf0HYw  ...                                         think dead
587297  fBR-MFpVKuc  ...                                              daddy
850388  2m65xSqUWaI  ...                          think let dog birth thing
549948  iEqgI3iwI2U  ...                                    graham reaction
1422    6vGg-jJl30A  ...  congratulation nice meet time han song amazing...

[5 rows x 5 columns]

In [62]:
Videos.head()

      video_id  ...                                   tokenized_titles
0  jt2OHQh0HoQ  ...  [live, apple, event, apple, september, event, ...
1  AqokkXoa7uE  ...  [holly, phillip, meet, samantha, sex, robot, m...
2  YPVcg45W0z4  ...                                [dna, test, result]
3  T_PuZBdT2iM  ...     [get, conversation, language, actually, speak]
4  NsjsmgmbCfc  ...                                  [baby, challenge]

[5 rows x 13 columns]

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: x.split("|"))

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: " ".join(x))

In [65]:
Videos.head()

      video_id  ...                                   tokenized_titles
0  jt2OHQh0HoQ  ...  [live, apple, event, apple, september, event, ...
1  AqokkXoa7uE  ...  [holly, phillip, meet, samantha, sex, robot, m...
2  YPVcg45W0z4  ...                                [dna, test, result]
3  T_PuZBdT2iM  ...     [get, conversation, language, actually, speak]
4  NsjsmgmbCfc  ...                                  [baby, challenge]

[5 rows x 13 columns]

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: x.lower())

In [67]:
nlp = spacy.load("en")
c=0
tokenized_sents=[]
for i in Videos['tags']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if(token.is_stop==False and token.is_punct==False):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
#Videos.drop(['tokenized_tags'],axis=1,inplace=True)
Videos['tokenized_tags']=tokenized_sents

In [69]:
Videos.head()

      video_id  ...                                   tokenized_titles
0  jt2OHQh0HoQ  ...  [live, apple, event, apple, september, event, ...
1  AqokkXoa7uE  ...  [holly, phillip, meet, samantha, sex, robot, m...
2  YPVcg45W0z4  ...                                [dna, test, result]
3  T_PuZBdT2iM  ...     [get, conversation, language, actually, speak]
4  NsjsmgmbCfc  ...                                  [baby, challenge]

[5 rows x 13 columns]

In [0]:
#Videos['tokenized_tags']=Videos['tokenized_tags'].apply(lambda x: list(dict.fromkeys(x)))

# mylist = ["a", "b", "a", "c", "c"]
# mylist = list(dict.fromkeys(mylist))
# print(mylist)

In [0]:
Videos['title']=Videos['title'].apply(lambda x: x.lower())

In [0]:
#Videos.drop(['thumbnail_link','date','channel_title'],axis=1,inplace=True)

In [72]:
nlp = spacy.load("en")
c=0
tokenized_sents=[]
for i in Videos['title']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
Videos['tokenized_titles']=tokenized_sents

In [74]:
Videos.head()

      video_id  ...                                   tokenized_titles
0  jt2OHQh0HoQ  ...  [live, apple, event, apple, september, event, ...
1  AqokkXoa7uE  ...  [holly, phillip, meet, samantha, sex, robot, m...
2  YPVcg45W0z4  ...                                [dna, test, result]
3  T_PuZBdT2iM  ...     [get, conversation, language, actually, speak]
4  NsjsmgmbCfc  ...                                  [baby, challenge]

[5 rows x 13 columns]

In [0]:
Videos['tokenized_titles']=Videos['tokenized_titles'].apply(lambda x: list(dict.fromkeys(x)))

In [0]:
tokenized_sents=[]
for i in Videos['tokenized_titles']:
  tokenized_sents.append(" ".join(i))

In [0]:
 Videos.drop('tokenized_titles',inplace=True,axis=1)
 Videos['tokenized_titles']=tokenized_sents

In [78]:
Videos.head()

      video_id  ...                                tokenized_titles
0  jt2OHQh0HoQ  ...  live apple event september iphone x io keynote
1  AqokkXoa7uE  ...   holly phillip meet samantha sex robot morning
2  YPVcg45W0z4  ...                                 dna test result
3  T_PuZBdT2iM  ...        get conversation language actually speak
4  NsjsmgmbCfc  ...                                  baby challenge

[5 rows x 13 columns]

In [0]:
All_tags=[]
for i in Videos['tokenized_tags']:
  All_tags.extend(i)

In [80]:
All_tags

['apple',
 'event',
 'apple',
 'event',
 'iphone',
 '8',
 'iphone',
 'x',
 'iphone',
 '8',
 'plus',
 'iphone',
 '7s',
 'iphone',
 '7s',
 'plus',
 'io',
 '11',
 'morning',
 'interview',
 'holly',
 'willoughby',
 'phillip',
 'schofield',
 'ruth',
 'langsford',
 'eamonn',
 'holme',
 'chat',
 'show',
 'topic',
 'chat',
 'topic',
 'talk',
 'show',
 'topic',
 'sex',
 'robot',
 'samantha',
 'real',
 'life',
 'emmablackery',
 'emma',
 'blackery',
 'emma',
 'blackery',
 'british',
 'vlogger',
 'british',
 'youtuber',
 'female',
 'vlogg',
 'birdyboot',
 'dna',
 'test',
 '23andme',
 'ancestry',
 'skit',
 'korean',
 'language',
 'conversation',
 'esl',
 'japanese',
 'foreign',
 'communication',
 'speak',
 'struggle',
 'foreigner',
 'lotte',
 'mart',
 'korea',
 'south',
 'weather',
 'good',
 'tutorial',
 'sprinkleofglitter',
 'sprinkle',
 'glitter',
 'baby',
 'glitter',
 'louise',
 'pentland',
 'louise',
 'pentland',
 'baby',
 'mrs',
 'meldrum',
 'baby',
 'name',
 'nice',
 'baby',
 'name',
 'unusual',
 'baby',
 'name',
 'rio',
 'ferdinand',
 'rio',
 'ferdinand',
 '5',
 'magazine',
 '5',
 'mag',
 '5',
 '5',
 'rio',
 'ferdinand',
 'rio',
 'ferdinand',
 'interview',
 'football',
 'soccer',
 'interview',
 'manchester',
 'united',
 'man',
 'unite',
 'fifa',
 '18',
 'fut',
 '18',
 'fut',
 'fifa',
 'rating',
 'fifa',
 '18',
 'rating',
 'chelsea',
 'chelsea',
 'fc',
 'chelsea',
 'f.c',
 'david',
 'luiz',
 'eden',
 'hazard',
 'christensen',
 'premier',
 'league',
 'champion',
 'league',
 'fifa18',
 'hazard',
 'fifa',
 '18',
 'david',
 'luiz',
 'fifa',
 '18',
 'christensen',
 'fifa',
 '18',
 'chelsea',
 'fifa',
 '18',
 'pack',
 'open',
 'fifa',
 'pack',
 'opening',
 'fifa',
 '18',
 'pack',
 'open',
 'fifa',
 '18',
 'official',
 'rating',
 'cook',
 'recipe',
 'kitchen',
 'chicken',
 'chicken',
 'breast',
 'juicy',
 'chicken',
 'breast',
 'bake',
 'chicken',
 'breast',
 'hummus',
 'cumin',
 'comedy',
 'funny',
 'juicy',
 'dude',
 'perfect',
 'dude',
 'perfect',
 'stereotype',
 'dude',
 'perfect',
 'water',
 'bottle',
 'flip',
 'bottle',
 'flip',
 'water',
 'bottle',
 'flip',
 'dude',
 'perfect',
 'bottle',
 'flip',
 'dude',
 'perfect',
 'basketball',
 'dp',
 'dude',
 'perfect',
 'world',
 'record',
 'edition',
 'nerf',
 'trick',
 'shot',
 'trick',
 'shoot',
 'family',
 'ping',
 'pong',
 'bowling',
 'clean',
 'family',
 'friendly',
 'bubble',
 'wrap',
 'soccer',
 'football',
 'spinner',
 'spinner',
 'fidget',
 'spinner',
 'dude',
 'bow',
 'arrow',
 'archery',
 'toy',
 'target',
 'move',
 'bottle',
 'bust',
 'crossbow',
 'bow',
 'arrow',
 'kid',
 'archery',
 'trick',
 'shot',
 'fleurdevlog',
 'fleur',
 'de',
 'vlog',
 'fleurdeforce',
 'fleur',
 'de',
 'force',
 'vlogger',
 'daily',
 'vlog',
 'monthly',
 'vlog',
 'weekend',
 'weekend',
 'brighton',
 'uk',
 'sunny',
 'seaside',
 'summer',
 'travel',
 'husband',
 'mike',
 'de',
 'force',
 'radiohead',
 'lift',
 'ok',
 'computer',
 'oknotok',
 'jacksfilm',
 'yiay',
 'iphone',
 '2017',
 'iphone',
 '8',
 'iphone',
 'x',
 'apple',
 'jame',
 'corden',
 'late',
 'late',
 'colbert',
 'late',
 'night',
 'late',
 'night',
 'stephen',
 'colbert',
 'comedy',
 'monologue',
 'comedian',
 'impression',
 'celebrity',
 'carpool',
 'karaoke',
 'cbs',
 'late',
 'late',
 'corden',
 'joke',
 'joke',
 'funny',
 'funny',
 'video',
 'funny',
 'video',
 'humor',
 'celebrity',
 'celeb',
 'hollywood',
 'famous',
 'fifth',
 'harmony',
 'flinch',
 'harry',
 'style',
 'fleetwood',
 'mac',
 'chain',
 'bbc',
 'radio',
 '1',
 'live',
 'lounge',
 'feast',
 'fwf',
 'firstwefeast',
 'food',
 'food',
 'porn',
 'cook',
 'cooking',
 'chef',
 'kitchen',
 'recipe',
 'cocktail',
 'bartender',
 'craft',
 'beer',
 'complex',
 'complex',
 'medium',
 'cook',
 'profession',
 'action',
 'bronson',
 'sean',
 'evan',
 'mario',
 'batali',
 'sandwich',
 'sandwich',
 'showdown',
 'sandwich',
 'competition',
 'plane',
 'future',
 'aviation',
 'airplane',
 'aircraft',
 'electric',
 'electric',
 'aircraft',
 'electric',
 'plane',
 'pilotless',
 'plane',
 'airport',
 'airport',
 'wendover',
 'production',
 'wendover',
 'production',
 'half',
 'interesting',
 'interesting',
 'education',
 'educational',
 'animate',
 'video',
 'boee',
 'airbus',
 'boee',
 '797',
 '797',
 'middle',
 'market',
 'mom',
 'middle',
 'market',
 'plane',
 'actually',
 'plane',
 'future',
 'edu',
 '797',
 'dreamliner',
 '737',
 'max',
 'airbus',
 'a321',
 'neo',
 'lr',
 'airbus',
 'a321',
 'nile',
 'wilson',
 'nile',
 'wilson',
 'gymnastic',
 'nile',
 'wilson',
 'olympic',
 'olympic',
 'gymnast',
 'amazing',
 'gymnastic',
 'gymnastic',
 'strength',
 'training',
 'strength',
 'hard',
 'work',
 'vlogge',
 'vlog',
 'success',
 'fitness',
 'ultimate',
 'gymnastic',
 'challenge',
 'comeback',
 'competition',
 'world',
 'gymnastic',
 'championship',
 'world',
 'trial',
 'london',
 'open',
 'london',
 'gymnastic',
 'dad',
 'cry',
 'dad',
 'start',
 'cry',
 'youtube',
 'sensation',
 'nile',
 'wilson',
 'world',
 'championship',
 'train',
 'smart',
 'real',
 'fergie',
 'know',
 'bmg',
 'right',
 'management',
 'llc',
 'pop',
 'essiebutton',
 'estÃ©e',
 'lalonde',
 'estee',
 'lalonde',
 'essie',
 'button',
 'essie',
 'makeup',
 'makeup',
 'drugstore',
 'makeup',
 'tutorial',
 'fashion',
 'cute',
 'outfit',
 'makeup',
 'tutorial',
 'healthy',
 'food',
 'eye',
 'makeup',
 'outfit',
 'idea',
 'natural',
 'makeup',
 'easy',
 'healthy',
 'recipe',
 'skin',
 'care',
 'product',
 'good',
 'makeup',
 'stop',
 'upload',
 'break',
 'mental',
 'health',
 'podcast',
 'heart',
 'paloma',
 'wool',
 'london',
 'uk',
 'food',
 'restaurant',
 'favourite',
 'beauty',
 'makeup',
 'natural',
 'radio',
 'wolfgang',
 'travel',
 'lifestyle',
 'vlogger',
 'interior',
 'vox.com',
 'vox',
 'explain',
 'lilo',
 'stitch',
 'september',
 '11',
 'disney',
 'lilo',
 'stitch',
 '911',
 'disney',
 '911',
 'twin',
 'tower',
 'lilo',
 'stitch',
 '911',
 'change',
 'lilo',
 'stitch',
 'september',
 '11',
 'lilo',
 'stitch',
 'pop',
 'culture',
 '911',
 'pop',
 'culture',
 'response',
 '911',
 'september',
 '11',
 'pop',
 'culture',
 'rooster',
 'tooth',
 'rt',
 'animation',
 'television',
 'filmmaking',
 'game',
 'video',
 'game',
 'comic_strip',
 'austin',
 'texas',
 'production',
 'movie',
 'web',
 'series',
 'rtaa',
 'animate',
 'adventure',
 'animate',
 'stick',
 'figure',
 'short',
 'sketch',
 'skit',
 'comedy',
 'humor',
 'real',
 'life',
 'animate',
 'jordan',
 'cwierz',
 'storytelle',
 'personal',
 'embarrassing',
 'history',
 'brandon',
 'farmahini',
 'burnie',
 'burn',
 'gray',
 'haddock',
 'max',
 'kruemcke',
 'beach',
 'interesting',
 'man',
 'father',
 'law',
 'alligator',
 'floaty',
 'power',
 'alpha',
 'law',
 'swimming',
 'ocean',
 'kayak',
 'paddle',
 'murder',
 'father',
 'wrestle',
 'drown',
 'bbc',
 'iplayer',
 'bbc',
 'bbc',
 '1',
 'bbc1',
 'trailer',
 'child',
 'time',
 'benedict',
 'cumberbatch',
 'child',
 'author',
 'author',
 'child',
 'child',
 'daughter',
 'miss',
 'drama',
 'pure',
 'drama',
 'kelly',
 'mcdonald',
 '3',
 'year',
 'old',
 'daughter',
 'disappear',
 'ian',
 'mcewan',
 'novel',
 'good',
 'sell',
 'novel',
 'worth',
 'paw',
 'patrol',
 'paw',
 'patrol',
 'live',
 'selfie',
 'selfie',
 'bribe',
 'bubzvlogz',
 'bubzbeauty',
 'bubz',
 'tim',
 'chubbi',
 'domo',
 'daily',
 'vlog',
 'cute',
 'family',
 'mom',
 'vlogger',
 'get',
 'marry',
 'baby',
 'isaac',
 'ng',
 'baby',
 'bubz',
 'family',
 'vlog',
 'newlywed',
 'vlogge',
 'family',
 'school',
 'life',
 'school',
 'life',
 'education',
 'relationship',
 'mood',
 'alain',
 'de',
 'botton',
 'sermon',
 'philosophy',
 'lecture',
 'wisdom',
 'london',
 'talk',
 'secular',
 'self',
 'improvement',
 'curriculum',
 'big',
 'question',
 'love',
 'wellness',
 'mindfullness',
 'psychology',
 'alain',
 'de',
 'botton',
 'hack',
 'phone',
 'mobile',
 'cell',
 'technology',
 'addiction',
 'modern',
 'depression',
 'problem',
 'issue',
 'pl',
 'self',
 'phone',
 'science',
 'iphone',
 'medium',
 'cell',
 'phone',
 'school',
 'life',
 'apple',
 'presentation',
 'iphone',
 'problem',
 'problem',
 'iphone',
 'tÃ©lÃ©phone',
 'telÃ©fono',
 'telefon',
 'ç”µè¯',
 'é›»è©±',
 'à¤«à¤¼à¥‹à¤¨',
 'Ñ‚ÐµÐ»ÐµÑ„Ð¾Ð½',
 'nyma',
 'tang',
 'dark',
 'shade',
 'contour',
 'dark',
 'skin',
 'dark',
 'skin',
 'dark',
 'foundation',
 'highlighting',
 'contour',
 'dark',
 'skin',
 'nyma',
 'fenty',
 'beauty',
 'fenty',
 'beauty',
 'dark',
 'shade',
 'fenty',
 'beauty',
 '490',
 '490',
 'fenty',
 'beauty',
 'pro',
 'filter',
 'foundation',
 'review',
 '  ',
 'nyma',
 'tang',
 'thedarkestshade',
 'rihanna',
 'rihanna',
 'fenty',
 'beauty',
 'rihanna',
 'makeup',
 'rihanna',
 'makeup',
 'line',
 'fenty',
 'beauty',
 'launch',
 'trophy',
 'wife',
 '1970s',
 'public',
 'information',
 'film',
 'pewdiepie',
 'ksi',
 'joe',
 'weller',
 'faze',
 'bank',
 'august',
 'favourite',
 '2017',
 'august',
 'favorite',
 'monthly',
 'favourite',
 '2017',
 'melanie',
 'murphy',
 'melanie',
 'murphy',
 'hair',
 'red',
 'balayage',
 'conor',
 'mcgregor',
 'ann',
 'summer',
 'primark',
 'instax',
 'mini',
 '9',
 'review',
 'lush',
 'sleepy',
 'natural',
 'cycle',
 'pms',
 'period',
 'cycle',
 'track',
 'app',
 'lingerie',
 'underwear',
 'chatty',
 'grey',
 'hair',
 'sophdoesnail',
 'makeup',
 'revolution',
 'soph',
 'x',
 'makeup',
 'revolution',
 'sophdoesnail',
 'makeup',
 'revolution',
 'collab',
 'soph',
 'makeup',
 'revolution',
 'collab',
 'sophdoesnail',
 'highlighter',
 'sophdoesnail',
 'eyeshadow',
 'palette',
 'testing',
 'sophdoesnail',
 'makeup',
 'testing',
 'soph',
 'palette',
 'soph',
 'palette',
 'review',
 'soph',
 'x',
 'makeup',
 'revolution',
 'review',
 'soph',
 'x',
 'revolution',
 'tutorial',
 'drugstore',
 'makeup',
 'tutorial',
 'new',
 'drugstore',
 'makeup',
 'testing',
 'drugstore',
 'makeup',
 'testing',
 'makeup',
 'revolution',
 'wwe',
 'world',
 'wrestling',
 'entertainment',
 'wrestling',
 'wrestler',
 'wrestle',
 'superstar',
 'à¤•à¥à¤¶à¥à¤¤à¥€',
 'à¤ªà¤¹à¤²à¤µà¤¾à¤¨',
 'à¤¡à¤¬à¥à¤²à¥‚',
 'à¤¡à¤¬à¥à¤²à¥‚',
 'à¤ˆ',
 'à¤®à¥ˆà¤š',
 'à¤¸à¥à¤ªà¤°à¤¸à¥à¤Ÿà¤¾à¤°',
 'à¤µà¥à¤¯à¤¾à¤µà¤¸à¤¾à¤¯à¤¿à¤•',
 'à¤•à¥à¤¶à¥à¤¤à¥€',
 'Ù…ØµØ§Ø±Ø¹Ù‡',
 'raw',
 'asuka',
 'raw',
 'sp',
 'ty',
 '=',
 'high',
 'sp',
 'st',
 '=',
 'wrestling',
 'sp',
 'scp',
 '=',
 'athlete_in_match',
 'sp',
 'dt=2017',
 '09',
 '11t20:00:00',
 '04:00',
 'sp',
 'ev',
 '=',
 'wwe',
 'raw',
 'sp',
 'ath',
 '=',
 'wwe',
 'asuka',
 'come',
 'nxt',
 'wwe',
 'raw',
 'wwe',
 'nxt',
 'wwe',
 '2017',
 'woman',
 'asuka',
 'raw',
 'asuka',
 'main',
 'roster',
 'main',
 'roster',
 'shade',
 'grey',
 'official',
 'teaser',
 'teaser',
 'trailer',
 'hd',
 'nsfw',
 'red',
 'room',
 'charlie',
 'tango',
 'shade',
 '50',
 'shade',
 '50',
 'shade',
 'grey',
 'grey',
 'enterprise',
 'christian',
 'grey',
 'dakota',
 'johnson',
 'film',
 'actor',
 'trailer',
 'drama',
 'sex',
 'e.',
 'l.',
 ...]