<a href="https://colab.research.google.com/github/utkarsh599/Recomendation-sysy/blob/Abhijeet/Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import spark
import nltk
import spacy
import pandas as pd
import sklearn

In [0]:
from google.colab import files
Uploaded=files.upload()

Saving GB_category_id.json to GB_category_id (2).json
Saving GBcomments.csv to GBcomments (2).csv
Saving GBvideos.csv to GBvideos (2).csv
Saving US_category_id.json to US_category_id (2).json
Saving UScomments.csv to UScomments (2).csv

In [0]:
import io
GB_category_id=pd.read_json(io.BytesIO(Uploaded["GB_category_id.json"]))
GBcomments=pd.read_csv(io.BytesIO(Uploaded["GBcomments.csv"]),error_bad_lines=False)
GBvideos=pd.read_csv(io.BytesIO(Uploaded["GBvideos.csv"]),error_bad_lines=False)
US_category_id=pd.read_json(io.BytesIO(Uploaded["US_category_id.json"]))
UScomments=pd.read_csv(io.BytesIO(Uploaded["UScomments.csv"]),error_bad_lines=False)
USvideos=pd.read_csv(io.BytesIO(Uploaded["USvideos.csv"]),error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'
b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [0]:
GBcomments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...       0
1  jt2OHQh0HoQ  ...       0
2  jt2OHQh0HoQ  ...       0
3  jt2OHQh0HoQ  ...       0
4  jt2OHQh0HoQ  ...       0

[5 rows x 4 columns]

In [0]:
print(GBcomments.shape)
print(UScomments.shape)
print(GBvideos.shape)
print(USvideos.shape)

(718452, 4)
(691400, 4)
(7993, 11)
(7992, 11)

In [0]:
Comments=pd.concat([GBcomments,UScomments],ignore_index=True)
Videos=pd.concat([GBvideos,USvideos],ignore_index=True)

In [0]:
Comments.dropna(inplace=True)
Videos.dropna(inplace=True)

In [0]:
print(Comments.shape)
print(Videos.shape)

(1409799, 4)
(15985, 11)

In [0]:
Comments.comment_text=Comments.comment_text.astype(str)

In [0]:
Comments.head(10)

      video_id                                       comment_text likes replies
0  jt2OHQh0HoQ  It's more accurate to call it the M+ (1000) be...     0       0
1  jt2OHQh0HoQ              To be there with a samsung phone\n😂😂😂     1       0
2  jt2OHQh0HoQ  Thank gosh, a place I can watch it without hav...     0       0
3  jt2OHQh0HoQ  What happened to the home button on the iPhone...     0       0
4  jt2OHQh0HoQ  Power is the disease.  Care is the cure.  Keep...     0       0
5  jt2OHQh0HoQ  Keep calm and buy iphone 8 Keep calm and buy i...     0       0
6  jt2OHQh0HoQ      i am a big fan of youtube and u !!!!!!!!!!!!!     0       0
7  jt2OHQh0HoQ  You will never find Losers who line up and pay...     0       0
8  jt2OHQh0HoQ  *APPLE JUST COMMENTED ON MY LAST VIDEO* I'm cr...     0       0
9  jt2OHQh0HoQ  I'm only here to see Emma, I love her so much!...     0       0

In [0]:
Videos.head(10)

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09
5  zZ2CLmvqfXg  ...  13.09
6  w8fAellnPns  ...  13.09
7  LcZ2AuvxXNA  ...  13.09
8  lamseWekh8Y  ...  13.09
9  QBGaO89cBMI  ...  13.09

[10 rows x 11 columns]

In [0]:
Comments['comment_text']=Comments['comment_text'].apply(lambda x: x.lower())

In [0]:
sampled_df=Comments.sample(30000)

In [0]:
sampled_df

            video_id  ... replies
685430   BUaLnDL3f-M  ...       0
1073589  GIqhMKlSCgY  ...       0
827      QBGaO89cBMI  ...       0
208018   MBdVXkSdhwU  ...       0
1249047  nrzbCPOcIJk  ...       0
...              ...  ...     ...
1187781  wmca2wWi1CM  ...       0
559771   lLN1FwiqGwc  ...       0
282583   -c_FsbYR8Q4  ...       1
176817   0HrxgjmzXUs  ...       0
429088   Hte0les8ZH8  ...       0

[30000 rows x 4 columns]

# Tokenization using Spacy

## [Click here for Documentation of spacymoji](https://github.com/ines/spacymoji)

In [0]:
# pip install spacymoji

Requirement already satisfied: spacymoji in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: spacy<3.0.0,>=2.1.3 in /usr/local/lib/python3.6/dist-packages (from spacymoji) (2.1.9)
Requirement already satisfied: emoji<1.0.0,>=0.4.5 in /usr/local/lib/python3.6/dist-packages (from spacymoji) (0.5.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (1.0.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (2.21.0)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (0.9.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (2.0.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (1.17.4)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (0.2.4)
Requirement already satisfied: thinc<7.1.0,>=7.0.8 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (7.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (0.4.0)
Requirement already satisfied: srsly<1.1.0,>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (0.2.0)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from spacy<3.0.0,>=2.1.3->spacymoji) (2.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0,>=2.1.3->spacymoji) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0,>=2.1.3->spacymoji) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0,>=2.1.3->spacymoji) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0,>=2.1.3->spacymoji) (2.8)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.6/dist-packages (from thinc<7.1.0,>=7.0.8->spacy<3.0.0,>=2.1.3->spacymoji) (4.28.1)

In [0]:
# from spacymoji import Emoji
# emoji = Emoji(nlp)

In [0]:
nlp = spacy.load("en_core_web_sm")
#nlp.add_pipe(emoji, first=True)
c=0
tokenized_sents=[]
for i in sampled_df['comment_text']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
sampled_df.drop('tokenized_comments',inplace=True,axis=1)

In [0]:
sampled_df['tokenized_comments']=tokenized_sents

In [0]:
sampled_df

            video_id  ...                                 tokenized_comments
685430   BUaLnDL3f-M  ...                                            [bless]
1073589  GIqhMKlSCgY  ...  [awesome, like, holy, money, money, money, fam...
827      QBGaO89cBMI  ...                    [good, video, hear, half, song]
208018   MBdVXkSdhwU  ...    [handsome, swag, sexy, adorable, bts, fighting]
1249047  nrzbCPOcIJk  ...               [hahhahahahhahaha, love, vid, soooo]
...              ...  ...                                                ...
1187781  wmca2wWi1CM  ...  [know, april, fool, thing, family, guess, righ...
559771   lLN1FwiqGwc  ...                  [u, guy, sub, link, channel, thx]
282583   -c_FsbYR8Q4  ...  [love, alf, whennnnnn, zoe, child, go, perfect...
176817   0HrxgjmzXUs  ...  [omgness, eduardo, lol, terrible, touch, w, gr...
429088   Hte0les8ZH8  ...                              [body, look, amazing]

[30000 rows x 5 columns]

In [0]:
tokenized_sents=[]
for i in sampled_df['tokenized_comments']:
  tokenized_sents.append(" ".join(i))

In [0]:
sampled_df.drop('tokenized_comments',inplace=True,axis=1)
sampled_df['tokenized_comments']=tokenized_sents
sampled_df.head()

            video_id  ...                                 tokenized_comments
685430   BUaLnDL3f-M  ...                                              bless
1073589  GIqhMKlSCgY  ...  awesome like holy money money money family cle...
827      QBGaO89cBMI  ...                          good video hear half song
208018   MBdVXkSdhwU  ...           handsome swag sexy adorable bts fighting
1249047  nrzbCPOcIJk  ...                    hahhahahahhahaha love vid soooo

[5 rows x 5 columns]

In [0]:
# sampled_df.drop(['likes','replies'],inplace=True,axis=1)
 sampled_df.head()

            video_id  ...                                 tokenized_comments
685430   BUaLnDL3f-M  ...                                              bless
1073589  GIqhMKlSCgY  ...  awesome like holy money money money family cle...
827      QBGaO89cBMI  ...                          good video hear half song
208018   MBdVXkSdhwU  ...           handsome swag sexy adorable bts fighting
1249047  nrzbCPOcIJk  ...                    hahhahahahhahaha love vid soooo

[5 rows x 3 columns]