<a href="https://colab.research.google.com/github/utkarsh599/Recomendation-sysy/blob/Abhijeet/Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import spark
import nltk
import spacy
import pandas as pd
import sklearn

In [2]:
from google.colab import files
Uploaded=files.upload()

Saving GB_category_id.json to GB_category_id.json
Saving GBcomments.csv to GBcomments.csv
Saving GBvideos.csv to GBvideos.csv
Saving US_category_id.json to US_category_id.json
Saving UScomments.csv to UScomments.csv
Saving USvideos.csv to USvideos.csv

In [43]:
import io
GB_category_id=pd.read_json(io.BytesIO(Uploaded["GB_category_id.json"]))
GBcomments=pd.read_csv(io.BytesIO(Uploaded["GBcomments.csv"]),error_bad_lines=False)
GBvideos=pd.read_csv(io.BytesIO(Uploaded["GBvideos.csv"]),error_bad_lines=False)
US_category_id=pd.read_json(io.BytesIO(Uploaded["US_category_id.json"]))
UScomments=pd.read_csv(io.BytesIO(Uploaded["UScomments.csv"]),error_bad_lines=False)
USvideos=pd.read_csv(io.BytesIO(Uploaded["USvideos.csv"]),error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'
b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [44]:
GBcomments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...       0
1  jt2OHQh0HoQ  ...       0
2  jt2OHQh0HoQ  ...       0
3  jt2OHQh0HoQ  ...       0
4  jt2OHQh0HoQ  ...       0

[5 rows x 4 columns]

In [45]:
print(GBcomments.shape)
print(UScomments.shape)
print(GBvideos.shape)
print(USvideos.shape)

(718452, 4)
(691400, 4)
(7993, 11)
(7992, 11)

In [0]:
Comments=pd.concat([GBcomments,UScomments],ignore_index=True)
Videos=pd.concat([GBvideos,USvideos],ignore_index=True)

In [0]:
Comments.dropna(inplace=True)
Videos.dropna(inplace=True)

In [48]:
print(Comments.shape)
print(Videos.shape)

(1409799, 4)
(15985, 11)

In [0]:
Comments.comment_text=Comments.comment_text.astype(str)

In [50]:
Comments.head(10)

      video_id                                       comment_text likes replies
0  jt2OHQh0HoQ  It's more accurate to call it the M+ (1000) be...     0       0
1  jt2OHQh0HoQ              To be there with a samsung phone\nðŸ˜‚ðŸ˜‚ðŸ˜‚     1       0
2  jt2OHQh0HoQ  Thank gosh, a place I can watch it without hav...     0       0
3  jt2OHQh0HoQ  What happened to the home button on the iPhone...     0       0
4  jt2OHQh0HoQ  Power is the disease.Â  Care is the cure.Â  Keep...     0       0
5  jt2OHQh0HoQ  Keep calm and buy iphone 8 Keep calm and buy i...     0       0
6  jt2OHQh0HoQ      i am a big fan of youtube and u !!!!!!!!!!!!!     0       0
7  jt2OHQh0HoQ  You will never find Losers who line up and pay...     0       0
8  jt2OHQh0HoQ  *APPLE JUST COMMENTED ON MY LAST VIDEO* I'm cr...     0       0
9  jt2OHQh0HoQ  I'm only here to see Emma, I love her so much!...     0       0

In [51]:
Videos.head(10)

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09
5  zZ2CLmvqfXg  ...  13.09
6  w8fAellnPns  ...  13.09
7  LcZ2AuvxXNA  ...  13.09
8  lamseWekh8Y  ...  13.09
9  QBGaO89cBMI  ...  13.09

[10 rows x 11 columns]

In [0]:
Comments['comment_text']=Comments['comment_text'].apply(lambda x: x.lower())

In [0]:
sampled_comments=Comments.sample(30000)

In [54]:
sampled_comments.head()

           video_id  ... replies
682624  EUoe7cf0HYw  ...       0
587297  fBR-MFpVKuc  ...       0
850388  2m65xSqUWaI  ...       0
549948  iEqgI3iwI2U  ...       0
1422    6vGg-jJl30A  ...       0

[5 rows x 4 columns]

# Tokenization using Spacy

## [Click here for Documentation of spacymoji](https://github.com/ines/spacymoji)

In [0]:
# pip install spacymoji

In [0]:
# from spacymoji import Emoji
# emoji = Emoji(nlp)

In [57]:
nlp = spacy.load("en_core_web_sm")
#nlp.add_pipe(emoji, first=True)
c=0
tokenized_sents=[]
for i in sampled_comments['comment_text']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
#sampled_comments.drop('tokenized_comments',inplace=True,axis=1)

In [0]:
sampled_comments['tokenized_comments']=tokenized_sents

In [60]:
sampled_comments.head()

           video_id  ...                                 tokenized_comments
682624  EUoe7cf0HYw  ...                                      [think, dead]
587297  fBR-MFpVKuc  ...                                      [daddy, evan]
850388  2m65xSqUWaI  ...                    [think, let, dog, birth, thing]
549948  iEqgI3iwI2U  ...                          [graham, reaction, hahah]
1422    6vGg-jJl30A  ...  [congratulation, nice, meet, time, han, zimmer...

[5 rows x 5 columns]

In [0]:
tokenized_sents=[]
for i in sampled_comments['tokenized_comments']:
  tokenized_sents.append(" ".join(i))

In [62]:
sampled_comments.drop('tokenized_comments',inplace=True,axis=1)
sampled_comments['tokenized_comments']=tokenized_sents
sampled_comments.head()

           video_id  ...                                 tokenized_comments
682624  EUoe7cf0HYw  ...                                         think dead
587297  fBR-MFpVKuc  ...                                         daddy evan
850388  2m65xSqUWaI  ...                          think let dog birth thing
549948  iEqgI3iwI2U  ...                              graham reaction hahah
1422    6vGg-jJl30A  ...  congratulation nice meet time han zimmer song ...

[5 rows x 5 columns]

In [64]:
# sampled_df.drop(['likes','replies'],inplace=True,axis=1)
 sampled_comments.head()

           video_id  ...                                 tokenized_comments
682624  EUoe7cf0HYw  ...                                         think dead
587297  fBR-MFpVKuc  ...                                         daddy evan
850388  2m65xSqUWaI  ...                          think let dog birth thing
549948  iEqgI3iwI2U  ...                              graham reaction hahah
1422    6vGg-jJl30A  ...  congratulation nice meet time han zimmer song ...

[5 rows x 5 columns]

In [65]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [0]:
import nltk

In [68]:
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [0]:
words = set(nltk.corpus.words.words())

cleaned_sents=[]

for sent in sampled_comments['tokenized_comments']:
  cleaned_sents.append(" ".join(w for w in nltk.wordpunct_tokenize(sent) \
         if w.lower() in words or not w.isalpha()))

In [71]:
sampled_comments.drop('tokenized_comments',inplace=True,axis=1)
sampled_comments['tokenized_comments']=cleaned_sents
sampled_comments.head()

           video_id  ...                                 tokenized_comments
682624  EUoe7cf0HYw  ...                                         think dead
587297  fBR-MFpVKuc  ...                                              daddy
850388  2m65xSqUWaI  ...                          think let dog birth thing
549948  iEqgI3iwI2U  ...                                    graham reaction
1422    6vGg-jJl30A  ...  congratulation nice meet time han song amazing...

[5 rows x 5 columns]

In [29]:
Videos.head()

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09

[5 rows x 11 columns]

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: x.split("|"))

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: " ".join(x))

In [41]:
Videos.head()

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09

[5 rows x 11 columns]

In [0]:
Videos['tags']=Videos['tags'].apply(lambda x: x.lower())

In [84]:
nlp = spacy.load("en")
c=0
tokenized_sents=[]
for i in Videos['tags']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
Videos.drop(['tokenized_tags'],axis=1,inplace=True)
Videos['tokenized_tags']=tokenized_sents

In [87]:
Videos.head()

      video_id  ...                      tokenized_tags
0  jt2OHQh0HoQ  ...                             [apple]
1  AqokkXoa7uE  ...                  [show, show, life]
2  YPVcg45W0z4  ...                                  []
3  T_PuZBdT2iM  ...                                  []
4  NsjsmgmbCfc  ...  [pentland, baby, baby, baby, name]

[5 rows x 10 columns]

In [0]:
Videos['tokenized_tags']=Videos['tokenized_tags'].apply(lambda x: list(dict.fromkeys(x)))

# mylist = ["a", "b", "a", "c", "c"]
# mylist = list(dict.fromkeys(mylist))
# print(mylist)

In [0]:
Videos['title']=Videos['title'].apply(lambda x: x.lower())

In [0]:
#Videos.drop(['thumbnail_link','date','channel_title'],axis=1,inplace=True)

In [90]:
nlp = spacy.load("en")
c=0
tokenized_sents=[]
for i in Videos['title']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if((token.is_stop==False and token.is_punct==False) and token.is_alpha==True):
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
Videos['tokenized_titles']=tokenized_sents

In [92]:
Videos.head()

      video_id  ...          tokenized_tags
0  jt2OHQh0HoQ  ...                 [apple]
1  AqokkXoa7uE  ...            [show, life]
2  YPVcg45W0z4  ...                      []
3  T_PuZBdT2iM  ...                      []
4  NsjsmgmbCfc  ...  [pentland, baby, name]

[5 rows x 10 columns]

In [0]:
tokenized_sents=[]
for i in Videos['tokenized_titles']:
  tokenized_sents.append(" ".join(i))

In [96]:
Videos.drop('tokenized_titles',inplace=True,axis=1)
Videos['tokenized_titles']=tokenized_sents
Videos.head()

      video_id  ...                                   tokenized_titles
0  jt2OHQh0HoQ  ...  live apple event apple september event iphone ...
1  AqokkXoa7uE  ...      holly phillip meet samantha sex robot morning
2  YPVcg45W0z4  ...                                    dna test result
3  T_PuZBdT2iM  ...           get conversation language actually speak
4  NsjsmgmbCfc  ...                                     baby challenge

[5 rows x 10 columns]

In [0]:
All_tags=[]
for i in Videos['tokenized_tags']:
  All_tags.extend(i)

In [100]:
All_tags

['apple',
 'show',
 'life',
 'pentland',
 'baby',
 'name',
 'rio',
 'ferdinand',
 'fifa',
 'luiz',
 'pack',
 'official',
 'rating',
 'chicken',
 'dude',
 'perfect',
 'water',
 'bottle',
 'world',
 'trick',
 'shot',
 'de',
 'force',
 'jame',
 'late',
 'night',
 'harry',
 'lounge',
 'competition',
 'market',
 'actually',
 'plane',
 'neo',
 'nile',
 'wilson',
 'gymnastic',
 'dad',
 'start',
 'world',
 'smart',
 'real',
 'makeup',
 'healthy',
 'care',
 'heart',
 'stitch',
 'tower',
 'lilo',
 'change',
 'culture',
 'response',
 'pop',
 'rooster',
 'life',
 'interesting',
 'child',
 'year',
 'old',
 'selling',
 'novel',
 'worth',
 'patrol',
 'get',
 'family',
 'school',
 'de',
 'nyma',
 'dark',
 'contour',
 'beauty',
 'pro',
 'filter',
 'foundation',
 'tang',
 'fenty',
 'makeup',
 'wife',
 'bank',
 'august',
 'favourite',
 'murphy',
 'mini',
 'tracking',
 'grey',
 'makeup',
 'x',
 'revolution',
 'eyeshadow',
 'sophdoesnail',
 'soph',
 'palette',
 'drugstore',
 'wrestle',
 'ty',
 'st',
 'scp',
 'ev',
 'wwe',
 'ath',
 'main',
 'shade',
 'johnson',
 'film',
 'jame',
 'dornan',
 'taylor',
 'wood',
 'visual',
 'grey',
 'official',
 'trailer',
 'move',
 'apartment',
 'decor',
 'tour',
 'house',
 'london',
 'room',
 'new',
 'worth',
 'vs',
 'hour',
 'original',
 'trivium',
 'fund',
 'hurricane',
 'harvey',
 'stream',
 'fenty',
 'beauty',
 'makeup',
 'rihanna',
 'hit',
 'jim',
 'live',
 'red',
 'strike',
 'global',
 'sheffield',
 'carter',
 'vicker',
 'alex',
 'war',
 'putin',
 'john',
 'live',
 'russia',
 'nazi',
 'come',
 'let',
 'give',
 'london',
 'stick',
 'base',
 'lauder',
 'double',
 'wear',
 'cool',
 'review',
 'haul',
 'trend',
 'bryson',
 'rca',
 'record',
 'curb',
 'tom',
 'compression',
 'rainbow',
 'spawn',
 'x',
 'factor',
 'uk',
 'help',
 'fall',
 'news',
 'casey',
 'makeup',
 'fall',
 'president',
 'pep',
 'zach',
 'game',
 'pan',
 'ultra',
 'space',
 'mineli',
 'sir',
 'bruce',
 'forsyth',
 'come',
 'dance',
 'buswell',
 'nadiya',
 'du',
 'mabuse',
 'stephen',
 'colin',
 'johnson',
 'dogg',
 'smith',
 'kaepernick',
 'nfl',
 'de',
 'doug',
 'hyde',
 'fancy',
 'cream',
 'camper',
 'art',
 'history',
 'mario',
 'run',
 'pop',
 'z',
 'noel',
 'look',
 'anger',
 'morton',
 'alisha',
 'instagram',
 'accessory',
 'roma',
 'charle',
 'movie',
 'face',
 'sky',
 'video',
 'impression',
 'vanilla',
 'cupcake',
 'scran',
 'pipe',
 'try',
 'fall',
 'haul',
 'fashion',
 'drugstore',
 'makeup',
 'ingrid',
 'barcelona',
 'vs',
 'rcd',
 'st',
 'li',
 'vl',
 'ti',
 'home',
 'away',
 'ty',
 'espanyol',
 'book',
 'fletcher',
 'carrie',
 'hope',
 'jayne',
 'addam',
 'family',
 'ken',
 'people',
 'cupp',
 'new',
 'stranger',
 'earth',
 'guardian',
 'guide',
 'build',
 'free',
 'matthew',
 'amazing',
 'fact',
 'santoro',
 'matt',
 'arsenal',
 'fan',
 'oxlade',
 'average',
 'gm',
 'release',
 'date',
 'hurricane',
 'solution',
 'bull',
 'terrier',
 'dog',
 'puppy',
 'weird',
 'wassabi',
 'jahns',
 'graham',
 'norton',
 'watch',
 'ed',
 'american',
 'sheeran',
 'interview',
 'soul',
 'video',
 'la',
 'volver',
 'jesus',
 'gabriel',
 'jeffree',
 'star',
 'beauty',
 'makeup',
 'ready',
 'private',
 'rihanna',
 'hit',
 'jenner',
 'ellen',
 'golden',
 'mike',
 'irma',
 'press',
 'statement',
 'hurricane',
 'trump',
 'deliver',
 'news',
 'yosuke',
 'ideguchi',
 'amazing',
 'goal',
 'japan',
 'vs',
 'australia',
 'fifa',
 'world',
 'cup',
 'el',
 'dia',
 'despue',
 'sam',
 'good',
 'arsenal',
 'fan',
 'oxlade',
 'grahame',
 'true',
 'cc',
 'anthony',
 'joshua',
 'mcgregor',
 'floyd',
 'yaya',
 'happen',
 'soltan',
 'jackson',
 'benington',
 'bennington',
 'late',
 'caller',
 'person',
 'art',
 'nail',
 'football',
 'evan',
 'lose',
 'jurassic',
 'pali',
 'park',
 'peter',
 'second',
 'sheeran',
 'musical',
 'tv',
 'rap',
 'battle',
 'history',
 'dusk',
 'till',
 'record',
 'feat',
 'sia',
 'jamie',
 'foundation',
 'makeup',
 'bbc',
 'star',
 'time',
 'henry',
 'search',
 'trump',
 'history',
 'have',
 'lie',
 'gay',
 'man',
 'husband',
 'social',
 'medium',
 'closet',
 'inter',
 'vs',
 'spal',
 'fenty',
 'woman',
 'makeup',
 'york',
 'fashion',
 'week',
 'do',
 'fight',
 'press',
 'schevchenko',
 'leicester',
 'power',
 'cam',
 'tonight',
 'stand',
 'experience',
 'anthony',
 'street',
 'potter',
 'beast',
 'find',
 'carlin',
 'history',
 'hagrid',
 'dumbledore',
 'trust',
 'length',
 'shannon',
 'zealand',
 'ready',
 'new',
 'filter',
 'face',
 'makeup',
 'mix',
 'foundation',
 'good',
 'current',
 'floyd',
 'mayweather',
 'key',
 'diego',
 'new',
 'album',
 'come',
 'soon',
 'official',
 'interview',
 'awkward',
 'puppet',
 'mythical',
 'morning',
 'fool',
 'audio',
 'link',
 'audiorhett',
 'kelly',
 'clarkson',
 'new',
 'myer',
 'night',
 'albert',
 'jack',
 'n',
 'shelton',
 'gwen',
 'stefani',
 'camila',
 'harmony',
 'new',
 'head',
 'movin',
 'michael',
 'feat',
 'nile',
 'music',
 'cg',
 'young',
 'home',
 'office',
 'koshy',
 'build',
 'wire',
 'wall',
 'interior',
 'zehr',
 'serge',
 'saint',
 'makeup',
 'effect',
 'horror',
 'story',
 'bee',
 'hive',
 'late',
 'charle',
 'allie',
 'trippy',
 'hurricane',
 'foo',
 'fighter',
 'new',
 'line',
 'grohl',
 'concrete',
 'record',
 'taylor',
 'swift',
 'samberg',
 'jame',
 'beautiful',
 'october',
 'hello',
 'shopping',
 'shop',
 'haul',
 'homesense',
 'edition',
 'vlog',
 'home',
 'white',
 'film',
 'good',
 'morning',
 'britain',
 'breakfast',
 'ree',
 'lisa',
 'eldridge',
 'breakfast',
 'tha',
 'de',
 'la',
 'mayweather',
 'online',
 'fashion',
 'store',
 'cast',
 'ray',
 'dylan',
 'like',
 'plastic',
 'hillary',
 'weiner',
 'cook',
 'ann',
 'reardon',
 'chocolate',
 'dessert',
 'ganache',
 'caramel',
 'cremeux',
 'mind',
 'bend',
 'lil',
 'durk',
 'music',
 'official',
 'man',
 'city',
 'v',
 'liverpool',
 'goal',
 'ray',
 'dylan',
 'buy',
 'outlet',
 'pronounciation',
 'football',
 'south',
 'park',
 'fractured',
 'character',
 'difficulty',
 'let',
 'ep',
 'bratt',
 'chelsea',
 'football',
 'tv',
 'genre',
 'blue',
 'stamford',
 'fc',
 'club',
 'manager',
 'job',
 'press',
 'dj',
 'laidback',
 'luke',
 'vlog',
 'la',
 'karaoke',
 'card',
 'gathering',
 'arena',
 'louise',
 'day',
 'ticket',
 'discount',
 'tiny',
 'house',
 'cheese',
 'baking',
 'kevin',
 'gate',
 'mean',
 'mixtape',
 'gary',
 'clark',
 'league',
 'theme',
 'breath',
 'zelda',
 'legend',
 'wild',
 'timeline',
 'game',
 'theory',
 'open',
 'world',
 'music',
 'award',
 'eldredge',
 'sarah',
 'wonder',
 'woman',
 'theme',
 'film',
 'superhero',
 'clean',
 'vegan',
 'fry',
 'taco',
 'use',
 'eat',
 'avocado',
 'bojack',
 'horseman',
 'season',
 'carolyn',
 'lounge',
 'tour',
 'life',
 'friend',
 'uzi',
 'rage',
 'xo',
 'vert',
 'music',
 'official',
 'abloh',
 'try',
 'ready',
 'ambient',
 'album',
 'jame',
 'landing',
 'logan',
 'paul',
 'play',
 'diamond',
 'm',
 'year',
 'mamba',
 'life',
 'apple',
 'tanya',
 'wear',
 'horseshoe',
 'crab',
 'sea',
 'pool',
 'iphone',
 'x',
 'hand',
 'home',
 'release',
 'wireless',
 'pentland',
 'baby',
 'name',
 'lip',
 'junkie',
 'dark',
 'cruise',
 'kill',
 'roman',
 'atwood',
 'truck',
 'jame',
 'late',
 'night',
 'wrong',
 'america',
 'get',
 'talent',
 'got',
 'best',
 'de',
 'los',
 'garcia',
 'coco',
 'dude',
 'perfect',
 'water',
 'bottle',
 'world',
 'trick',
 'shot',
 'chicken',
 'unknown',
 'person',
 'de',
 'force',
 'anna',
 'day',
 'eat',
 'soup',
 'rio',
 'ferdinand',
 'fifa',
 'luiz',
 'pack',
 'official',
 'rating',
 'good',
 'floyd',
 'mayweather',
 'key',
 'diego',
 'new',
 'album',
 'come',
 'soon',
 'official',
 'interview',
 'awkward',
 'puppet',
 'sheffield',
 'carter',
 'vicker',
 'market',
 'actually',
 'plane',
 'neo',
 'gucci',
 'child',
 'year',
 'old',
 'selling',
 'novel',
 'xx',
 'jamie',
 'hold',
 'wrestle',
 'ty',
 'st',
 'scp',
 'ev',
 'wwe',
 'ath',
 'monday',
 'night',
 'raw',
 'september',
 'highlight',
 'come',
 'let',
 'give',
 'show',
 'life',
 'happen',
 'brother',
 'jake',
 'swift',
 'jack',
 'gyllenhaal',
 'late',
 'cohen',
 'competition',
 'nile',
 'wilson',
 'gymnastic',
 'dad',
 'start',
 'world',
 'smart',
 'real',
 'harry',
 'lounge',
 'school',
 'de',
 'arsenal',
 'fan',
 'oxlade',
 'koln',
 'sotomura',
 'bryson',
 'rca',
 'record',
 'makeup',
 'healthy',
 'care',
 'heart',
 'fund',
 'hurricane',
 'harvey',
 'stream',
 'nyma',
 'dark',
 'contour',
 'beauty',
 'pro',
 'filter',
 'foundation',
 'tang',
 'fenty',
 'makeup',
 'wife',
 'hair',
 'rooster',
 'life',
 'interesting',
 'bank',
 'alex',
 'war',
 'putin',
 'john',
 'live',
 'russia',
 'nazi',
 'jump',
 'impossible',
 'fenty',
 'beauty',
 'makeup',
 'rihanna',
 'hit',
 'shade',
 'johnson',
 'film',
 'jame',
 'dornan',
 'taylor',
 'wood',
 'visual',
 'grey',
 'official',
 'trailer',
 'move',
 'apartment',
 'decor',
 'tour',
 'house',
 'london',
 'room',
 'new',
 'cake',
 'batman',
 'ninjago',
 'movie',
 'hour',
 'original',
 'trivium',
 'worth',
 'vs',
 'haul',
 'trend',
 'news',
 'strike',
 'global',
 'august',
 'favourite',
 'murphy',
 'mini',
 'tracking',
 'football',
 'tv',
 'genre',
 'blue',
 'stamford',
 'fc',
 'club',
 'chant',
 'jim',
 'live',
 'red',
 'beauty',
 'makeup',
 'fenty',
 'cosmetic',
 'face',
 'x',
 'factor',
 'uk',
 'help',
 'fall',
 'worth',
 'patrol',
 'get',
 'family',
 'los',
 'angele',
 'disaster',
 'international',
 'film',
 'franco',
 'brie',
 'ultra',
 'space',
 'mineli',
 'curb',
 'tom',
 'compression',
 'rainbow',
 'spawn',
 'president',
 'pep',
 'zach',
 'game',
 'pan',
 'grey',
 'makeup',
 'x',
 'revolution',
 'eyeshadow',
 'sophdoesnail',
 'soph',
 'palette',
 'drugstore',
 'stephen',
 'colin',
 'johnson',
 'dogg',
 'smith',
 'kaepernick',
 'nfl',
 'sir',
 'bruce',
 'forsyth',
 'come',
 'dance',
 'buswell',
 'nadiya',
 'du',
 'mabuse',
 'de',
 'capture',
 'honor',
 'single',
 'season',
 'rank',
 'new',
 'tribute',
 'warrior',
 'den',
 'chronicle',
 'chronicel',
 'special',
 'world',
 'repackage',
 'niana',
 'despacito',
 'history',
 'london',
 'stick',
 'base',
 'lauder',
 'double',
 'wear',
 'cool',
 'review',
 'pop',
 'z',
 'morton',
 'noel',
 'look',
 'anger',
 'alisha',
 'instagram',
 'casey',
 'makeup',
 'fall',
 'accessory',
 'roma',
 'charle',
 'movie',
 'face',
 'vanilla',
 'cupcake',
 'scran',
 'pipe',
 'doug',
 'hyde',
 'fancy',
 'cream',
 'camper',
 'art',
 'soul',
 'video',
 'la',
 'sky',
 ...]