<a href="https://colab.research.google.com/github/utkarsh599/Recomendation-sysy/blob/master/Major_Abhi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%pip install spark

Collecting spark
  Downloading https://files.pythonhosted.org/packages/59/7c/81b89b63927d7b24be7cbd61eabf90a28458bac90ff12531edd56d76ad61/spark-0.2.1.tar.gz (41kB)
     |████████████████████████████████| 51kB 2.7MB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-cp36-none-any.whl size=58741 sha256=33bf871fc4a5656ade3e808ae8c38f4ef998d98dbb6ce46bc13d9c05e2ec0439
  Stored in directory: /root/.cache/pip/wheels/57/a3/24/7c4c81b1cc5e82ad386965d2808543c4f5306b759da26e5629
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [0]:
#import spark
import nltk
import spacy
import pandas as pd
import sklearn

In [7]:
from google.colab import files
Uploaded=files.upload()

Saving GB_category_id.json to GB_category_id (1).json
Saving GBcomments.csv to GBcomments (1).csv
Saving GBvideos.csv to GBvideos (1).csv
Saving US_category_id.json to US_category_id (1).json
Saving UScomments.csv to UScomments (1).csv
Saving USvideos.csv to USvideos (1).csv

In [9]:
import io
GB_category_id=pd.read_json(io.BytesIO(Uploaded["GB_category_id.json"]))
GBcomments=pd.read_csv(io.BytesIO(Uploaded["GBcomments.csv"]),error_bad_lines=False)
GBvideos=pd.read_csv(io.BytesIO(Uploaded["GBvideos.csv"]),error_bad_lines=False)
US_category_id=pd.read_json(io.BytesIO(Uploaded["US_category_id.json"]))
UScomments=pd.read_csv(io.BytesIO(Uploaded["UScomments.csv"]),error_bad_lines=False)
USvideos=pd.read_csv(io.BytesIO(Uploaded["USvideos.csv"]),error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'
b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [10]:
GBcomments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...       0
1  jt2OHQh0HoQ  ...       0
2  jt2OHQh0HoQ  ...       0
3  jt2OHQh0HoQ  ...       0
4  jt2OHQh0HoQ  ...       0

[5 rows x 4 columns]

In [0]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
#import os
#os.environ('JAVA_HOME')
import os       #importing os to set environment variable
#def install_java():
#  !apt-get install -y openjdk-8-jdk-headless -qq > /dev/null      #install openjdk
#  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"     #set environment variable
#  !java -version       #check java version
#install_java()

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
#import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
from pyspark import SparkConf
from pyspark import SparkContext

conf = SparkConf()
conf.setMaster('yarn-client')
conf.setAppName('spark-nltk')
sc = SparkContext(conf=conf)

ModuleNotFoundError: ignored

In [0]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [11]:
print(GBcomments.shape)
print(UScomments.shape)
print(GBvideos.shape)
print(USvideos.shape)

(718452, 4)
(691400, 4)
(7993, 11)
(7992, 11)

In [0]:
Comments=pd.concat([GBcomments,UScomments],ignore_index=True)
Videos=pd.concat([GBvideos,USvideos],ignore_index=True)

In [0]:
Comments.dropna(inplace=True)
Videos.dropna(inplace=True)

In [14]:
print(Comments.shape)
print(Videos.shape)

(1409799, 4)
(15985, 11)

In [0]:
Comments.comment_text=Comments.comment_text.astype(str)

In [16]:
Comments.head(10)

      video_id                                       comment_text likes replies
0  jt2OHQh0HoQ  It's more accurate to call it the M+ (1000) be...     0       0
1  jt2OHQh0HoQ              To be there with a samsung phone\n😂😂😂     1       0
2  jt2OHQh0HoQ  Thank gosh, a place I can watch it without hav...     0       0
3  jt2OHQh0HoQ  What happened to the home button on the iPhone...     0       0
4  jt2OHQh0HoQ  Power is the disease.  Care is the cure.  Keep...     0       0
5  jt2OHQh0HoQ  Keep calm and buy iphone 8 Keep calm and buy i...     0       0
6  jt2OHQh0HoQ      i am a big fan of youtube and u !!!!!!!!!!!!!     0       0
7  jt2OHQh0HoQ  You will never find Losers who line up and pay...     0       0
8  jt2OHQh0HoQ  *APPLE JUST COMMENTED ON MY LAST VIDEO* I'm cr...     0       0
9  jt2OHQh0HoQ  I'm only here to see Emma, I love her so much!...     0       0

In [0]:
Videos.head(10)

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09
5  zZ2CLmvqfXg  ...  13.09
6  w8fAellnPns  ...  13.09
7  LcZ2AuvxXNA  ...  13.09
8  lamseWekh8Y  ...  13.09
9  QBGaO89cBMI  ...  13.09

[10 rows x 11 columns]

In [0]:
#pip install langdetect

In [0]:
#from langdetect import detect
#Comments['lang']=Comments['comment_text'].apply(detect)

In [0]:
Comments['comment_text']=Comments['comment_text'].apply(lambda x: x.lower())

In [19]:
nlp = spacy.load("en_core_web_sm")
c=0
tokenized_comments=[]
for i in Comments['comment_text']:
    doc=nlp(i)
    for token in doc:
        tokenized_comments.append(token.text)
    print(c,end='\r')
    c+=1
# doc = nlp("Apple is looking at buying U.K. startup for $1 billion")
# for token in doc:
#     print(token.text)

In [21]:
tokenized_comments[1]

"'s"

In [22]:
len(tokenized_comments)

26033579

In [0]:
sampled_df=Comments.sample(30000)

In [29]:
sampled_df

            video_id  ... replies
568377   3JYl1XREYLE  ...       0
348927   MuhbA_bB418  ...       0
210096   uQhr1sfgJis  ...       0
740977   uBGECC5U09Q  ...       0
200368   yZMt87ZdUbw  ...       0
...              ...  ...     ...
755807   cLdxuaxaQwc  ...       0
867672   qi2uOOAKJjY  ...       0
1127306  dDiCuZTjS18  ...       0
1274113  1AxLzMJIgxM  ...       0
361032   q3br7KKr67o  ...       0

[30000 rows x 4 columns]

In [0]:
from spacy.lang.en.stop_words import STOP_WORDS

filtered_comments=[]

for i in sampled_df['comment_text']:
  doc = nlp(i)
  filtered_sent=[]
  for word in doc:
    if word.is_stop==False:
        filtered_sent.append(word)
  filtered_comments.append(filtered_sent)

# Tokenization using Spacy

In [71]:
nlp = spacy.load("en_core_web_sm")
c=0
tokenized_sents=[]
for i in sampled_df['comment_text']:
    doc=nlp(i)
    tokens=[]
    for token in doc:
      if token.is_stop==False:
        tokens.append(token.lemma_)
    tokenized_sents.append(tokens)
    print(c,end='\r')
    c+=1

In [0]:
sampled_df.drop('tokenized_comments',inplace=True,axis=1)

In [0]:
sampled_df['tokenized_comments']=tokenized_sents

In [74]:
sampled_df

            video_id  ...                                 tokenized_comments
568377   3JYl1XREYLE  ...                  [david, :, kid,, ..., \nme, :, ?]
348927   MuhbA_bB418  ...  [white, boy, foot, video, channel, check, !, !...
210096   uQhr1sfgJis  ...                               [hahaha, eddy, good]
740977   uBGECC5U09Q  ...                                  [hardcore, henry]
200368   yZMt87ZdUbw  ...  [smh, jenny, realize, snoke, origin, story, .,...
...              ...  ...                                                ...
755807   cLdxuaxaQwc  ...                              [lave, ❤, ️, 😭, ☝, 🏻]
867672   qi2uOOAKJjY  ...                                   [great, song, !]
1127306  dDiCuZTjS18  ...                                   [kto, z, polski]
1274113  1AxLzMJIgxM  ...  [intro, brilliant, !, manage, beat, old, frasi...
361032   q3br7KKr67o  ...  [sound, delicious, .,  , pumpkin, pie, torani,...

[30000 rows x 5 columns]

In [0]:
# from spacy.lang.en.stop_words import STOP_WORDS
# st=list(STOP_WORDS)
# filtered_comments=[]

# for i in sampled_df['tokenized_comments']:
#   filtered_sent=[]
#   for j in i:
#     if (j in st):
#       pass
#     else:
#       filtered_sent.append(j)
#   filtered_comments.append(filtered_sent)

# Lemmetization

In [0]:
for i in sampled_df['tokenized_sents']:
  for j in i:
    lem = nlp("run runs running runner")
# finding lemma for each word
for word in lem:
    print(word.text,word.lemma_)